body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 170px;
    background-color: rgba(0, 0, 0, 0.804);
  }
  
  .player {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 500px;
    background-color: #3eecac;
    background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
    padding: 50px 50px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .track-art {
    height: 250px;
    width: 250px;
    background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    border-radius: 15%;
  }
  
  .now-playing {
    font-size: 1rem;
  }
  
  .track-name {
    font-size: 3rem;
  }
  
  .track-artist {
    font-size: 1.5rem;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  
  .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .seek_slider {
    width: 60%;
  }
  
  .volume_slider {
    width: 30%;
  }
  
  /*  */
  